.showModal{
  display: block;
}
.footer{
display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}
.checkBox{
  margin: 1rem;

}
.buttons{
margin-top: 4rem;
}
.button{
  margin: 1rem;
}
.input {
  margin-bottom: 2rem;
  padding-left: 3rem;
  height: 5rem;
}
.inputBox {
  height: 3rem;
  width: 20rem;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 80%);
  display: flex;
  padding-left: 1rem;
}
.label {
  font-size: 1.2rem;
  @media (max-width: 1300px) {
    font-size: 1.5rem;
  }
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}